article {
  margin: 0.5em 1em;
  border: 1px solid grey;
  border-radius: 5px;
  opacity: 0.7;
  overflow: hidden; /* without this, the header div overlaps the rounded corners and it looks like crap*/
  font-size: 0.9em; /*Adjusts all font sizes in the article*/
}

article .body {
  display: inline-block;
  margin: 10px 0px 10px 10px;
}

article footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
  padding: 4px;
}

article footer div {
  font-size: 60%
}

article:hover {
  opacity: 1;
  visibility: visible;
}

article:hover .footer-icons .avatar {
  visibility: visible;
}

article h2 {
  display: inline-block;
  line-height: 1.3;
  margin: 0 0 0 10px;
}

article header div {
  float: right;
  font-size: 80%;
  line-height: 2.5;
  margin-right: 0.5em;
}

.avatar {
  float: left;
  width: 40px; 
  height: 40px;
  border-radius: 5px;
}

.footer-counter {
  line-height: 2em;
  float: left;
  clear: left;
}

.footer-icons .avatar {
  float: right;
  height: 13px;
  width: auto;
  margin: 2px;
  visibility: hidden;
}

header {
  background-color: #efefef;
  float: left;
  width: 100%;
  padding: 6px;
}


/*Media query with a range */
/*NOTE: This section only needs CSS for the things that I want to CHANGE.
Do not need to repeat everything here.*/

@media (min-width:450px) {
  article {
    margin: 1em 2em;
    font-size: 1em; /*Adjusts all font sizes in the article*/
  }

  article .body {
    margin: 20px 0px 20px 10px;
  }

  article footer {
    padding: 6px;
  }

  article footer div {
    font-size: 60%
  }

  article:hover {
    opacity: 1;
    visibility: visible;
  }

  article:hover .footer-icons .avatar {
    visibility: visible;
  }

  article h2 {
    line-height: 1.2;
  }

  article header div {
    float: right;
    font-size: 80%;
    line-height: 2.5;
  }

  .avatar {
    width: 60px; 
    height: 60px;
  }

  .footer-counter {
    float: left;
    clear: left;
  }

  .footer-icons .avatar {
    float: right;
    height: 15px;
  }

}
